* {
    margin: 0;
    box-sizing: border-box;
}


.container {
    column-count: 3;
    column-gap: 10px;
    width: 1000px;
}

.figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
  }


.image {
    max-width: 100%;
    display: block;
    width: 300px;
}
.figure > .image {
    grid-row: 1 / -1;
    grid-column: 1;
    
  }

.buttons-filter {
  display: flex;
  margin-left: 20px;
}

.button-filter {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: none;
  outline: 0;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Gill Sans', Arial, sans-serif;
  color: #000000;
  cursor: pointer;
  text-align: center;
  height: 45px;
  padding: 10px 30px;
}

.button-filter:hover {
  border-bottom: 1px solid #3e3c33;
  background-color: #472c2c;
  color: #ffffff;
}

.button-filter-active {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: none;
  outline: 0;
  text-decoration: none;
  font-size: 15px;
  background-color: #472c2c;
  font-family: 'Gill Sans', Arial, sans-serif;
  color: white;
  cursor: pointer;
  text-align: center;
  height: 45px;
  padding: 10px 30px;
}
